<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Favori Kürklerim {{#if fursCheeseSum}} ({{fursCheeseSum}} Peynir){{/if}}
            <td class="align-middle">
              <a class="btn-link text-dark px-3 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#add-counter" data-toggle="tooltip" data-original-title="Add count">
                <i class="fas fa-plus-circle"></i>
              </a>
            </td>
          </h6>
        </div>
        <div class="card-body pt-4 p-3">
          {{#each furs}}
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">{{this.Name}}<span class="mb-2 text-xs"><span class="text-dark font-weight-bold ms-sm-2"></span></span></h6>
                  <span class="mb-2 text-xs">Peynir: <span class="text-dark font-weight-bold ms-sm-2">{{this.Cheese}}</span></span>
                  <span class="mb-2 text-xs">Öncelik: <span class="text-dark font-weight-bold ms-sm-2">{{this.Priority}}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <img src="{{this.Link}}">
                </div>
              </li>
          {{/each}}
          </ul>
        </div>

      </div>
    </div>

    <div class="modal fade" id="add-counter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title-add" id="exampleModalLabel">Kürk Ekle</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/furs/add-fur" method="post">
            <div class="modal-body">
              <div class="form-group" style="width:100%">
                <label for="userName">Kürk Linki</label>
                <input type="text" class="form-control" id="userName-add" name="Link">
              </div>

              <div class="form-group" style="width:30%; float:left">
                <label for="userName">İsim</label>
                <input type="text" class="form-control" id="userName-add" name="Name">
              </div>

              <div class="form-group" style="width:30%; margin-left:5%; float:left">
                <label for="userName">Peynir</label>
                <input type="text" class="form-control" id="userName-add" name="Cheese">
              </div>

              <div class="form-group" style="width:30%; margin-left:5%; float:left">
                <label for="userName">Öncelik</label>
                <input type="text" class="form-control" id="userName-add" name="Priority">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" id="modal-user-add-close" data-bs-dismiss="modal">Kapat</button>
                <button type="submit" class="btn submit-button-add bg-gradient-success">Ekle</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



    <div class="modal fade" id="edit-counter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title-edit" id="exampleModalLabel">Sayaç Düzenle</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/cheese-counter/edit-counter" method="post">
            <div class="modal-body">
              <input type="hidden" id="counterID-edit" name="ID" />
              <div class="form-group" style="width:30%; float:left">
                <label for="userName">Sayaç Adı</label>
                <input type="text" class="form-control" id="counterName-edit" name="Name">
              </div>

              <div class="form-group" style="width:30%; margin-left:5%; float:left">
                <label for="userName">Başlangıç Tarihi</label>
                <input type="text" class="form-control" id="counterStartingDate-edit" name="StartingDate">
              </div>

              <div class="form-group" style="width:30%; margin-left:5%;float:left">
                <label for="userName">Başlangıçdaki Peynir</label>
                <input type="text" class="form-control" id="counterStartingCheese-edit" name="StartingCheese">
              </div>

              <div class="form-group" style="width:30%; float:left">
                <label for="userName">Marketteki Peynir</label>
                <input type="text" class="form-control" id="counterMarketCheese-edit" name="MarketCheese">
              </div>

              <div class="form-group" style="width:30%; margin-left:5%; float:left">
                <label for="userName">Harcanan Peynir</label>
                <input type="text" class="form-control" id="counterSpentCheese-edit" name="SpentCheese">
              </div>

              <div class="form-group" style="width:30%; margin-left:5%; float:left">
                <label for="userName">Peynir Hedefi</label>
                <input type="text" class="form-control" id="counterTargetCheese-edit" name="TargetCheese">
              </div>
              <br /><br /><br /><br /><br /><br /><br />

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Tüm kullanıcıları kullan
                </label>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" id="modal-user-edit-close" data-bs-dismiss="modal">Kapat</button>
                <button type="submit" class="btn submit-button-edit bg-gradient-success">Kaydet</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            © <script>
              document.write(new Date().getFullYear())
            </script>,
            made with by
            <a href="https://atelier801.com/profile?pr=Enesxfbxpro" class="font-weight-bold" target="_blank">Enesxfbxpro</a>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="https://creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<style>
  .list-group-item {
    margin-top: 10px
  }
</style>
<script src="/static/assets/js/cheese-counter.js"></script>
